@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.container {
  margin-top: 80px;
  margin-bottom: 80px;
}

.heading {
  margin-bottom: 70px;
}

.heading h1 {
  font-weight: 200;
}

.heading p {
  font-weight: 200;
}

/* Cards */
.card-body .icon {
  text-align: right;
}

.card-title {
  font-weight: 600;
}

.card-text {
  font-weight: 200;
  color: hsl(234, 12%, 34%);
}

.card.supervisor {
  border-top: 3px solid hsl(180, 62%, 55%);
}

.card.team-builder {
  border-top: 3px solid hsl(0, 78%, 62%);
}

.card.karma {
  border-top: 3px solid hsl(34, 97%, 64%);
}

.card.calculator {
  border-top: 3px solid hsl(212, 86%, 64%);
}

/* Media Queries */
@media (max-width: 768px) {
  .container {
    margin-top: 40px;
  }

  .card {
    margin-bottom: 20px;
  }
}
